/* src/components/Filters.css */

.filters {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    padding: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    background-color: #5BA4A4;
  }
  
  .filter {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 300px;
  }
  
  .filter label {
    font-weight: bold;
  }
  
  .filter select,
  .filter input[type="range"] {
    margin-top: 5px;
  }
  
  .filter span {
    margin-top: 5px;
  }
  
  .ctc-range {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
    font: bold;
    font-size: 12px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #fff;
    color: #333;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 250px;
    margin-top: 5px;
  }
  
  .dropdown-button::after {
    content: '▼';
    margin-left: 10px;
    font-size: 12px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content label input {
    margin-right: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #experience-filter {
    background-color: #fff;
    color: #333;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 250px;
  }
